[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = my-generic-name.com
O = argo

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = a585f939ce32b4ac0a0fe859b4487e1f-763958224.eu-south-1.elb.amazonaws.com

